body {
  background-color: #226764;
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  color: white;
}
p {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 600;
}
.container p {
  font-size: 15px;
}
/* iframe {
  position: relative;
  right: -23px;
  top: -510px;
} */
.discord {
  position: relative;
  top: -1068px;
  right: -468px;
}
.rules-h1 {
  padding-top: 13px;
}
.rules-blockquote {
  padding: 5px;
}
.rules-blockquote li {
  padding-top: 13px;
}
.rules-li {
  font-size: 15px;
}
@media only screen and (min-width: 500px) {
  iframe {
    position: relative;
    top: 2000px;
  }
}
/* @media only screen and (min-width: 1000px) {
  iframe {
    position: relative;
    top: -500px;
    right: -25px;
  }
}
@media only screen and (max-width: 1024px) {
  iframe {
    position: relative;
    top: -1px;
    right: -120px;
  }
}
@media only screen and (max-width: 1024px) {
  iframe {
    position: relative;
    top: -1px;
    right: -120px;
  }
} */
/* @media only screen and (max-width: 1024px) {
  .discord {
    position: relative;
    top: -1px;
    right: 90px;
  }
}
@media only screen and (max-width: 1024px) {
  .discord {
    position: relative;
    top: -1px;
    right: 90px;
  }
} */
@media only screen and (max-width: 1024) {
  img.devdeck {
    position: relative;
    top: 1000px;
  }
}
.navbar-title-devdeck {
  font-size: 40px;
  padding-top: 15px;
  font-family: 'Anonymous Pro', monospace;
  font-weight: 300;
}
.span.repo-language-dot.html{
  background-color: #3572A5;
}
.span.repo-language-dot {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  top: 1px;
  display: inline-block;
  position: relative;
}
.fa fa-code-branch {
  margin-left: 19.2px;
}

/* form.login-form {
  margin-right: 370px;
  background-color: white;
  border: solid 1px black;
  padding: 70px;
  position: relative;
  top: 10px;
}
form.login-form h1 {
  padding-bottom: 40px;
} */
